<html>
    <title>{{ title | safe }}</title>
    <body>
        <h1>
            {{ title | safe }}
        </h1>
        {{ author_name | safe }}
        <hr>
        {{ content | safe }}
    </body>
</html>
